{% extends 'admin-extension.html.twig' %}

{% block title %}Panel do Edycji Danych Osobowych{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="css/instruction.css">
{{ parent() }}
{% endblock stylesheets %}

{% block panel_main_header %}<h1>Panel do wprowadzania, edycji i usuwania danych</h1>{% endblock panel_main_header %}

{% block exit_button %}
<form action="admin-panel" method="post">
    <input type="submit" value="Panel Główny">
</form>
{% endblock exit_button %}

{% block form_id %}
<div id="edit_user" class="form-content">
{% endblock form_id %}

{% block enabled %}
{{ form_row(form.enabled) }}
{% endblock enabled %}