{% extends 'base.html.twig' %}

{% block title %}CV Center{% endblock title %}

{% block stylesheets %}<link rel="stylesheet" href="css/main-page/index.css">{% endblock stylesheets %}

{% block body %}
<h1>CV Center - wyślij swoje CV</h1>
<div id="main-info">
  <p>W CV Center możesz utworzyć konto wraz z profilem na WordPressie do umieszczania swojego CV oraz danych o sobie.</p>
  <p>Dane można edytować logując się w formularzu poniżej.</p>
  <p>Profil można przeglądać, wchodząc na stronę: <a href="http://localhost/wordpress">Profil WordPress</a></p>
</div>
<form id="register-account" action="register-account" method="post">
    <label for="user-email">
        <h4>Rejestracja konta</h4>
        <p>E-mail wraz z hasłem służył będzie do logowania się.</p>
        <p>Hasło ma mieć minimalnie 8 znaków i może składać się wyłącznie z liter i cyfr, oraz znaku "_"</p>
    </label>
    <input type="text" name="user-email" id="user-email">
    <input type="password" name="user-password" id="user-password">
    <input type="submit" id="do-register" value="Zarejestruj się">
</form>
<form id="login-account" action="login-account" method="post">
    <label for="login-email">
        <h4>Zaloguj się</h4>
        <p>Podaj e-mail i hasło, aby się zalogować.</p>
    </label>
    <input type="text" name="login-email" id="login-email">
    <input type="password" name="login-password" id="login-password">
    <input type="submit" id="do-login" value="Zaloguj się">
</form>
<form id="reset-account" action="resetter" method="post">
    <label for="resetter-email">
        <h4>Resetowanie hasła.</h4>
        <p>Wpisz swój e-mail i kliknij przycisk "Prześlij", aby zmienić hasło.</p>
        <p>Pod wskazany e-mail wyślemy wtedy wiadomość z linkiem do strony z formularzem do resetowania hasła.</p>
    </label>
    <input type="text" name="resetter-email" id="resetter-email">
    <input type="submit" name="resetter-submit" id="resetter-submit">
</form>
<div id="messages">
    <h3 id="messages-header">Wiadomość z CV Center:</h3>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="flash-{{ label }} flash-content">
            <p>{{ message|nl2br }}</p>
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock body %}